.root {
	width: 100%;
	max-width: 360px;
	margin: 0 auto;
	padding: 0 10px;

	@media (min-width: 768px) {
		max-width: 708px;
		padding: 0;
	}

	@media (min-width: 1024px) {
		max-width: 964px;
	}

	@media (min-width: 1440px) {
		max-width: 1140px;
	}
}
